In [1]:
import pandas as pd
import wandb

In [2]:
run = wandb.init(project="my_ml_project", group="eda")
local_path = wandb.use_artifact("student_entry_performance_modified.csv:latest").file()
df = pd.read_csv(local_path)

wandb: Currently logged in as: a01796858 (a01796858-tecnol-gico-de-monterrey) to https://api.wandb.ai. Use `wandb login --relogin` to force relogin

In [3]:
df.head()

,Performance,Gender,Caste,coaching,time,Class_ten_education,twelve_education,medium,Class_ X_Percentage,Class_XII_Percentage,Father_occupation,Mother_occupation,mixed_type_col
0,Excellent,male,General,NO,one,SEBA,AHSEC,ENGLISH,Excellent,Excellent,DOCTOR,OTHERS,unknown
1,Excellent,MALE,OBC,WA,TWO,SEBA,AHSEC,OTHERS,Excellent,Excellent,SCHOOL_TEACHER,HOUSE_WIFE,666
2,Excellent,male,OBC,OA,TWO,others,CBSE,ENGLISH,Excellent,Excellent,BUSINESS,HOUSE_WIFE,unknown
3,Excellent,male,General,WA,one,SEBA,AHSEC,OTHERS,Excellent,eXCELLENT,SCHOOL_TEACHER,school_teacher,275
4,Excellent,male,General,OA,two,NaN,CBSE,ENGLISH,Excellent,Excellent,COLLEGE_TEACHER,HOUSE_WIFE,6

In [4]:
run.finish()